
.zld
	{
		background-color: Chartreuse;
		color: Chartreuse;
		width: 100px;
	}

.vast
	{
		text-decoration: underline;
		font-weight: bold;
		line-height: 2.5;
	}

.dlt{
		font-style: italic;
	}
	
.kep{
	background-color: White;
	color: White;
	width: 41px;
	}

td {
	width: 350px;
}
table{
	font-family: 'Roboto', sans-serif;
}

/*link színezés
	a:link {color: Aqua;}
	a:visited {color: DeepPink;}
	a:hover {color: Gold;}
	a:active {color: GreenYellow;}*/
